<template>
    <div>
        <v-md-editor v-model="textContent" height="400px"></v-md-editor>
        <div style="display: none" :id="idName">{{ textContent }}</div>
    </div>
</template>

<script>
export default {
    name: 'MyEditor',

    props: {
        idName: {
            type: String,
        },
    },

    data() {
        return {
            textContent: '',
        };
    },

    mounted() {
        this.textContent = document.getElementsByName(this.idName)[0].innerText;
    }
}
</script>
