*,
*::before,
*::after {
    grid-gap: inherit;
    gap: unset;
}

[class*="g-container"] {
    display: grid;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

[class^="g-col-"] {
    max-width: 100%;
}

@media (min-width: 576px) {
    .g-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .g-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .g-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .g-container {
        max-width: 1140px;
    }
}

.g-container-fluid {
    width: 100%;
}

.d-grid {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
}

.d-inline-grid {
    display: -moz-inline-grid;
    display: -ms-inline-grid;
    display: inline-grid;
}

.grid-column {
    grid-auto-flow: column;
}
.grid-row {
    grid-auto-flow: row;
}
@media (min-width: 576px) {
    .d-sm-grid {
        display: -moz-grid;
        display: -ms-grid;
        display: grid;
    }
    .d-sm-inline-grid {
        display: -moz-inline-grid;
        display: -ms-inline-grid;
        display: inline-grid;
    }
    .grid-sm-column {
        grid-auto-flow: column;
    }
    .grid-sm-row {
        grid-auto-flow: row;
    }
}
@media (min-width: 768px) {
    .d-md-grid {
        display: -moz-grid;
        display: -ms-grid;
        display: grid;
    }
    .d-md-inline-grid {
        display: -moz-inline-grid;
        display: -ms-inline-grid;
        display: inline-grid;
    }
    .grid-md-column {
        grid-auto-flow: column;
    }
    .grid-md-row {
        grid-auto-flow: row;
    }
}
@media (min-width: 992px) {
    .d-lg-grid {
        display: -moz-grid;
        display: -ms-grid;
        display: grid;
    }
    .d-lg-inline-grid {
        display: -moz-inline-grid;
        display: -ms-inline-grid;
        display: inline-grid;
    }
    .grid-lg-column {
        grid-auto-flow: column;
    }
    .grid-lg-row {
        grid-auto-flow: row;
    }
}
@media (min-width: 1200px) {
    .d-xl-grid {
        display: -moz-grid;
        display: -ms-grid;
        display: grid;
    }
    .d-xl-inline-grid {
        display: -moz-inline-grid;
        display: -ms-inline-grid;
        display: inline-grid;
    }
    .grid-xl-column {
        grid-auto-flow: column;
    }
    .grid-xl-row {
        grid-auto-flow: row;
    }
}

.x12 {
    grid-template-columns: repeat(12, 1fr);
}
.x1 {
    grid-template-columns: repeat(1, 1fr);
}
.x2 {
    grid-template-columns: repeat(2, 1fr);
}
.x3 {
    grid-template-columns: repeat(3, 1fr);
}
.x4 {
    grid-template-columns: repeat(4, 1fr);
}
.x5 {
    grid-template-columns: repeat(5, 1fr);
}
.x6 {
    grid-template-columns: repeat(6, 1fr);
}
.x7 {
    grid-template-columns: repeat(7, 1fr);
}
.x8 {
    grid-template-columns: repeat(8, 1fr);
}

.xr12 {
    grid-template-rows: repeat(12, 1fr);
}
.xr1 {
    grid-template-rows: repeat(1, 1fr);
}
.xr2 {
    grid-template-rows: repeat(2, 1fr);
}
.xr3 {
    grid-template-rows: repeat(3, 1fr);
}
.xr4 {
    grid-template-rows: repeat(4, 1fr);
}
.xr5 {
    grid-template-rows: repeat(5, 1fr);
}
.xr7 {
    grid-template-rows: repeat(7, 1fr);
}

@media (min-width: 576px) {
    .x12-sm {
        grid-template-columns: repeat(12, 1fr);
    }
    .x1-sm {
        grid-template-columns: repeat(1, 1fr);
    }
    .x2-sm {
        grid-template-columns: repeat(2, 1fr);
    }
    .x3-sm {
        grid-template-columns: repeat(3, 1fr);
    }
    .x4-sm {
        grid-template-columns: repeat(4, 1fr);
    }
    .x5-sm {
        grid-template-columns: repeat(5, 1fr);
    }
    .x6-sm {
        grid-template-columns: repeat(6, 1fr);
    }
    .x7-sm {
        grid-template-columns: repeat(7, 1fr);
    }
    .x8-sm {
        grid-template-columns: repeat(8, 1fr);
    }

    .xr12-sm {
        grid-template-rows: repeat(12, 1fr);
    }
    .xr1-sm {
        grid-template-rows: repeat(1, 1fr);
    }
    .xr2-sm {
        grid-template-rows: repeat(2, 1fr);
    }
    .xr3-sm {
        grid-template-rows: repeat(3, 1fr);
    }
    .xr4-sm {
        grid-template-rows: repeat(4, 1fr);
    }
    .xr5-sm {
        grid-template-rows: repeat(5, 1fr);
    }
    .xr7-sm {
        grid-template-rows: repeat(7, 1fr);
    }
}
@media (min-width: 768px) {
    .x12-md {
        grid-template-columns: repeat(12, 1fr);
    }
    .x1-md {
        grid-template-columns: repeat(1, 1fr);
    }
    .x2-md {
        grid-template-columns: repeat(2, 1fr);
    }
    .x3-md {
        grid-template-columns: repeat(3, 1fr);
    }
    .x4-md {
        grid-template-columns: repeat(4, 1fr);
    }
    .x5-md {
        grid-template-columns: repeat(5, 1fr);
    }
    .x6-md {
        grid-template-columns: repeat(6, 1fr);
    }
    .x7-md {
        grid-template-columns: repeat(7, 1fr);
    }

    .x8-md {
        grid-template-columns: repeat(8, 1fr);
    }

    .xr12-md {
        grid-template-rows: repeat(12, 1fr);
    }
    .xr1-md {
        grid-template-rows: repeat(1, 1fr);
    }
    .xr2-md {
        grid-template-rows: repeat(2, 1fr);
    }
    .xr3-md {
        grid-template-rows: repeat(3, 1fr);
    }
    .xr4-md {
        grid-template-rows: repeat(4, 1fr);
    }
    .xr5-md {
        grid-template-rows: repeat(5, 1fr);
    }
    .xr7-md {
        grid-template-rows: repeat(7, 1fr);
    }
}
@media (min-width: 992px) {
    .x12-lg {
        grid-template-columns: repeat(12, 1fr);
    }
    .x1-lg {
        grid-template-columns: repeat(1, 1fr);
    }
    .x2-lg {
        grid-template-columns: repeat(2, 1fr);
    }
    .x3-lg {
        grid-template-columns: repeat(3, 1fr);
    }
    .x4-lg {
        grid-template-columns: repeat(4, 1fr);
    }
    .x5-lg {
        grid-template-columns: repeat(5, 1fr);
    }
    .x6-lg {
        grid-template-columns: repeat(6, 1fr);
    }
    .x7-lg {
        grid-template-columns: repeat(7, 1fr);
    }
    .x8-lg {
        grid-template-columns: repeat(8, 1fr);
    }
    .xr12-lg {
        grid-template-rows: repeat(12, 1fr);
    }
    .xr1-lg {
        grid-template-rows: repeat(1, 1fr);
    }
    .xr2-lg {
        grid-template-rows: repeat(2, 1fr);
    }
    .xr3-lg {
        grid-template-rows: repeat(3, 1fr);
    }
    .xr4-lg {
        grid-template-rows: repeat(4, 1fr);
    }
    .xr5-lg {
        grid-template-rows: repeat(5, 1fr);
    }
    .xr7-lg {
        grid-template-rows: repeat(7, 1fr);
    }
}
@media (min-width: 1200px) {
    .x12-xl {
        grid-template-columns: repeat(12, 1fr);
    }
    .x1-xl {
        grid-template-columns: repeat(1, 1fr);
    }
    .x2-xl {
        grid-template-columns: repeat(2, 1fr);
    }
    .x3-xl {
        grid-template-columns: repeat(3, 1fr);
    }
    .x4-xl {
        grid-template-columns: repeat(4, 1fr);
    }
    .x5-xl {
        grid-template-columns: repeat(5, 1fr);
    }
    .x6-xl {
        grid-template-columns: repeat(6, 1fr);
    }
    .x7-xl {
        grid-template-columns: repeat(7, 1fr);
    }
    .x8-xl {
        grid-template-columns: repeat(8, 1fr);
    }
    .xr12-xl {
        grid-template-rows: repeat(12, 1fr);
    }
    .xr1-xl {
        grid-template-rows: repeat(1, 1fr);
    }
    .xr2-xl {
        grid-template-rows: repeat(2, 1fr);
    }
    .xr3-xl {
        grid-template-rows: repeat(3, 1fr);
    }
    .xr4-xl {
        grid-template-rows: repeat(4, 1fr);
    }
    .xr5-xl {
        grid-template-rows: repeat(5, 1fr);
    }
    .xr7-xl {
        grid-template-rows: repeat(7, 1fr);
    }
}

.g-col-auto {
    grid-column-end: auto;
}
.g-col-1 {
    grid-column-end: span 1;
}
.g-col-2 {
    grid-column-end: span 2;
}
.g-col-3 {
    grid-column-end: span 3;
}
.g-col-4 {
    grid-column-end: span 4;
}
.g-col-5 {
    grid-column-end: span 5;
}
.g-col-6 {
    grid-column-end: span 6;
}
.g-col-7 {
    grid-column-end: span 7;
}
.g-col-8 {
    grid-column-end: span 8;
}
.g-col-9 {
    grid-column-end: span 9;
}
.g-col-10 {
    grid-column-end: span 10;
}
.g-col-11 {
    grid-column-end: span 11;
}
.g-col-12 {
    grid-column-end: span 12;
}

.g-row-auto {
    grid-row-end: auto;
}
.g-row-1 {
    grid-row-end: span 1;
}
.g-row-2 {
    grid-row-end: span 2;
}
.g-row-3 {
    grid-row-end: span 3;
}
.g-row-4 {
    grid-row-end: span 4;
}
.g-row-5 {
    grid-row-end: span 5;
}
.g-row-6 {
    grid-row-end: span 6;
}
.g-row-7 {
    grid-row-end: span 7;
}
.g-row-8 {
    grid-row-end: span 8;
}
.g-row-9 {
    grid-row-end: span 9;
}
.g-row-10 {
    grid-row-end: span 10;
}
.g-row-11 {
    grid-row-end: span 11;
}
.g-row-12 {
    grid-row-end: span 12;
}

/* Grid gap*/
.g-0 {
    grid-gap: 0;
}
.g-1 {
    grid-gap: 0.25rem;
}
.g-2 {
    grid-gap: 0.5rem;
}
.g-3 {
    grid-gap: 1rem;
}
.g-4 {
    grid-gap: 1.5rem;
}
.g-5 {
    grid-gap: 2rem;
}
.g-6 {
    grid-gap: 3rem;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .d-sm-grid {
        display: grid;
    }

    .g-sm-0 {
        grid-gap: 0;
    }
    .g-sm-1 {
        grid-gap: 0.25rem;
    }
    .g-sm-2 {
        grid-gap: 0.5rem;
    }
    .g-sm-3 {
        grid-gap: 1rem;
    }
    .g-sm-4 {
        grid-gap: 1.5rem;
    }
    .g-sm-5 {
        grid-gap: 2rem;
    }
    .g-sm-6 {
        grid-gap: 3rem;
    }

    .g-col-sm-auto {
        grid-column-end: auto;
    }
    .g-col-sm-1 {
        grid-column-end: span 1;
    }
    .g-col-sm-2 {
        grid-column-end: span 2;
    }
    .g-col-sm-3 {
        grid-column-end: span 3;
    }
    .g-col-sm-4 {
        grid-column-end: span 4;
    }
    .g-col-sm-5 {
        grid-column-end: span 5;
    }
    .g-col-sm-6 {
        grid-column-end: span 6;
    }
    .g-col-sm-7 {
        grid-column-end: span 7;
    }
    .g-col-sm-8 {
        grid-column-end: span 8;
    }
    .g-col-sm-9 {
        grid-column-end: span 9;
    }
    .g-col-sm-10 {
        grid-column-end: span 10;
    }
    .g-col-sm-11 {
        grid-column-end: span 11;
    }
    .g-col-sm-12 {
        grid-column-end: span 12;
    }

    .g-row-sm-auto {
        grid-row-end: auto;
    }
    .g-row-sm-1 {
        grid-row-end: span 1;
    }
    .g-row-sm-2 {
        grid-row-end: span 2;
    }
    .g-row-sm-3 {
        grid-row-end: span 3;
    }
    .g-row-sm-4 {
        grid-row-end: span 4;
    }
    .g-row-sm-5 {
        grid-row-end: span 5;
    }
    .g-row-sm-6 {
        grid-row-end: span 6;
    }
    .g-row-sm-7 {
        grid-row-end: span 7;
    }
    .g-row-sm-8 {
        grid-row-end: span 8;
    }
    .g-row-sm-9 {
        grid-row-end: span 9;
    }
    .g-row-sm-10 {
        grid-row-end: span 10;
    }
    .g-row-sm-11 {
        grid-row-end: span 11;
    }
    .g-row-sm-12 {
        grid-row-end: span 12;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .d-md-grid {
        display: grid;
    }

    .g-md-0 {
        grid-gap: 0;
    }
    .g-md-1 {
        grid-gap: 0.25rem;
    }
    .g-md-2 {
        grid-gap: 0.5rem;
    }
    .g-md-3 {
        grid-gap: 1rem;
    }
    .g-md-4 {
        grid-gap: 1.5rem;
    }
    .g-md-5 {
        grid-gap: 2rem;
    }
    .g-md-6 {
        grid-gap: 3rem;
    }

    .g-col-md-auto {
        grid-column-end: auto;
    }
    .g-col-md-1 {
        grid-column-end: span 1;
    }
    .g-col-md-2 {
        grid-column-end: span 2;
    }
    .g-col-md-3 {
        grid-column-end: span 3;
    }
    .g-col-md-4 {
        grid-column-end: span 4;
    }
    .g-col-md-5 {
        grid-column-end: span 5;
    }
    .g-col-md-6 {
        grid-column-end: span 6;
    }
    .g-col-md-7 {
        grid-column-end: span 7;
    }
    .g-col-md-8 {
        grid-column-end: span 8;
    }
    .g-col-md-9 {
        grid-column-end: span 9;
    }
    .g-col-md-10 {
        grid-column-end: span 10;
    }
    .g-col-md-11 {
        grid-column-end: span 11;
    }
    .g-col-md-12 {
        grid-column-end: span 12;
    }

    .g-row-md-auto {
        grid-row-end: auto;
    }
    .g-row-md-1 {
        grid-row-end: span 1;
    }
    .g-row-md-2 {
        grid-row-end: span 2;
    }
    .g-row-md-3 {
        grid-row-end: span 3;
    }
    .g-row-md-4 {
        grid-row-end: span 4;
    }
    .g-row-md-5 {
        grid-row-end: span 5;
    }
    .g-row-md-6 {
        grid-row-end: span 6;
    }
    .g-row-md-7 {
        grid-row-end: span 7;
    }
    .g-row-md-8 {
        grid-row-end: span 8;
    }
    .g-row-md-9 {
        grid-row-end: span 9;
    }
    .g-row-md-10 {
        grid-row-end: span 10;
    }
    .g-row-md-11 {
        grid-row-end: span 11;
    }
    .g-row-md-12 {
        grid-row-end: span 12;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .d-lg-grid {
        display: grid;
    }

    .g-lg-0 {
        grid-gap: 0;
    }
    .g-lg-1 {
        grid-gap: 0.25rem;
    }
    .g-lg-2 {
        grid-gap: 0.5rem;
    }
    .g-lg-3 {
        grid-gap: 1rem;
    }
    .g-lg-4 {
        grid-gap: 1.5rem;
    }
    .g-lg-5 {
        grid-gap: 2rem;
    }
    .g-lg-6 {
        grid-gap: 3rem;
    }

    .g-col-lg-auto {
        grid-column-end: auto;
    }
    .g-col-lg-1 {
        grid-column-end: span 1;
    }
    .g-col-lg-2 {
        grid-column-end: span 2;
    }
    .g-col-lg-3 {
        grid-column-end: span 3;
    }
    .g-col-lg-4 {
        grid-column-end: span 4;
    }
    .g-col-lg-5 {
        grid-column-end: span 5;
    }
    .g-col-lg-6 {
        grid-column-end: span 6;
    }
    .g-col-lg-7 {
        grid-column-end: span 7;
    }
    .g-col-lg-8 {
        grid-column-end: span 8;
    }
    .g-col-lg-9 {
        grid-column-end: span 9;
    }
    .g-col-lg-10 {
        grid-column-end: span 10;
    }
    .g-col-lg-11 {
        grid-column-end: span 11;
    }
    .g-col-lg-12 {
        grid-column-end: span 12;
    }

    .g-row-lg-auto {
        grid-row-end: auto;
    }
    .g-row-lg-1 {
        grid-row-end: span 1;
    }
    .g-row-lg-2 {
        grid-row-end: span 2;
    }
    .g-row-lg-3 {
        grid-row-end: span 3;
    }
    .g-row-lg-4 {
        grid-row-end: span 4;
    }
    .g-row-lg-5 {
        grid-row-end: span 5;
    }
    .g-row-lg-6 {
        grid-row-end: span 6;
    }
    .g-row-lg-7 {
        grid-row-end: span 7;
    }
    .g-row-lg-8 {
        grid-row-end: span 8;
    }
    .g-row-lg-9 {
        grid-row-end: span 9;
    }
    .g-row-lg-10 {
        grid-row-end: span 10;
    }
    .g-row-lg-11 {
        grid-row-end: span 11;
    }
    .g-row-lg-12 {
        grid-row-end: span 12;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .d-xl-grid {
        display: grid;
    }

    .g-xl-0 {
        grid-gap: 0;
    }
    .g-xl-1 {
        grid-gap: 0.25rem;
    }
    .g-xl-2 {
        grid-gap: 0.5rem;
    }
    .g-xl-3 {
        grid-gap: 1rem;
    }
    .g-xl-4 {
        grid-gap: 1.5rem;
    }
    .g-xl-5 {
        grid-gap: 2rem;
    }
    .g-xl-6 {
        grid-gap: 3rem;
    }

    .g-col-xl-auto {
        grid-column-end: auto;
    }
    .g-col-xl-1 {
        grid-column-end: span 1;
    }
    .g-col-xl-2 {
        grid-column-end: span 2;
    }
    .g-col-xl-3 {
        grid-column-end: span 3;
    }
    .g-col-xl-4 {
        grid-column-end: span 4;
    }
    .g-col-xl-5 {
        grid-column-end: span 5;
    }
    .g-col-xl-6 {
        grid-column-end: span 6;
    }
    .g-col-xl-7 {
        grid-column-end: span 7;
    }
    .g-col-xl-8 {
        grid-column-end: span 8;
    }
    .g-col-xl-9 {
        grid-column-end: span 9;
    }
    .g-col-xl-10 {
        grid-column-end: span 10;
    }
    .g-col-xl-11 {
        grid-column-end: span 11;
    }
    .g-col-xl-12 {
        grid-column-end: span 12;
    }

    .g-row-xl-auto {
        grid-row-end: auto;
    }
    .g-row-xl-1 {
        grid-row-end: span 1;
    }
    .g-row-xl-2 {
        grid-row-end: span 2;
    }
    .g-row-xl-3 {
        grid-row-end: span 3;
    }
    .g-row-xl-4 {
        grid-row-end: span 4;
    }
    .g-row-xl-5 {
        grid-row-end: span 5;
    }
    .g-row-xl-6 {
        grid-row-end: span 6;
    }
    .g-row-xl-7 {
        grid-row-end: span 7;
    }
    .g-row-xl-8 {
        grid-row-end: span 8;
    }
    .g-row-xl-9 {
        grid-row-end: span 9;
    }
    .g-row-xl-10 {
        grid-row-end: span 10;
    }
    .g-row-xl-11 {
        grid-row-end: span 11;
    }
    .g-row-xl-12 {
        grid-row-end: span 12;
    }
}

.gx-0 {
    grid-column-gap: 0;
}
.gx-1 {
    grid-column-gap: 0.25rem;
}
.gx-2 {
    grid-column-gap: 0.5rem;
}
.gx-3 {
    grid-column-gap: 1rem;
}
.gx-4 {
    grid-column-gap: 1.5rem;
}
.gx-5 {
    grid-column-gap: 2rem;
}
.gx-6 {
    grid-column-gap: 3rem;
}
.gy-0 {
    grid-row-gap: 0;
}
.gy-1 {
    grid-row-gap: 0.25rem;
}
.gy-2 {
    grid-row-gap: 0.5rem;
}
.gy-3 {
    grid-row-gap: 1rem;
}
.gy-4 {
    grid-row-gap: 1.5rem;
}
.gy-5 {
    grid-row-gap: 2rem;
}
.gy-6 {
    grid-row-gap: 3rem;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .gx-sm-0 {
        grid-column-gap: 0;
    }
    .gx-sm-1 {
        grid-column-gap: 0.25rem;
    }
    .gx-sm-2 {
        grid-column-gap: 0.5rem;
    }
    .gx-sm-3 {
        grid-column-gap: 1rem;
    }
    .gx-sm-4 {
        grid-column-gap: 1.5rem;
    }
    .gx-sm-5 {
        grid-column-gap: 2rem;
    }
    .gx-sm-6 {
        grid-column-gap: 3rem;
    }
    .gy-sm-0 {
        grid-row-gap: 0;
    }
    .gy-sm-1 {
        grid-row-gap: 0.25rem;
    }
    .gy-sm-2 {
        grid-row-gap: 0.5rem;
    }
    .gy-sm-3 {
        grid-row-gap: 1rem;
    }
    .gy-sm-4 {
        grid-row-gap: 1.5rem;
    }
    .gy-sm-5 {
        grid-row-gap: 2rem;
    }
    .gy-sm-6 {
        grid-row-gap: 3rem;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .gx-md-0 {
        grid-column-gap: 0;
    }
    .gx-md-1 {
        grid-column-gap: 0.25rem;
    }
    .gx-md-2 {
        grid-column-gap: 0.5rem;
    }
    .gx-md-3 {
        grid-column-gap: 1rem;
    }
    .gx-md-4 {
        grid-column-gap: 1.5rem;
    }
    .gx-md-5 {
        grid-column-gap: 2rem;
    }
    .gx-md-6 {
        grid-column-gap: 3rem;
    }
    .gy-md-0 {
        grid-row-gap: 0;
    }
    .gy-md-1 {
        grid-row-gap: 0.25rem;
    }
    .gy-md-2 {
        grid-row-gap: 0.5rem;
    }
    .gy-md-3 {
        grid-row-gap: 1rem;
    }
    .gy-md-4 {
        grid-row-gap: 1.5rem;
    }
    .gy-md-5 {
        grid-row-gap: 2rem;
    }
    .gy-md-6 {
        grid-row-gap: 3rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .gx-lg-0 {
        grid-column-gap: 0;
    }
    .gx-lg-1 {
        grid-column-gap: 0.25rem;
    }
    .gx-lg-2 {
        grid-column-gap: 0.5rem;
    }
    .gx-lg-3 {
        grid-column-gap: 1rem;
    }
    .gx-lg-4 {
        grid-column-gap: 1.5rem;
    }
    .gx-lg-5 {
        grid-column-gap: 2rem;
    }
    .gx-lg-6 {
        grid-column-gap: 3rem;
    }
    .gy-lg-0 {
        grid-row-gap: 0;
    }
    .gy-lg-1 {
        grid-row-gap: 0.25rem;
    }
    .gy-lg-2 {
        grid-row-gap: 0.5rem;
    }
    .gy-lg-3 {
        grid-row-gap: 1rem;
    }
    .gy-lg-4 {
        grid-row-gap: 1.5rem;
    }
    .gy-lg-5 {
        grid-row-gap: 2rem;
    }
    .gy-lg-6 {
        grid-row-gap: 3rem;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .gx-xl-0 {
        grid-column-gap: 0;
    }
    .gx-xl-1 {
        grid-column-gap: 0.25rem;
    }
    .gx-xl-2 {
        grid-column-gap: 0.5rem;
    }
    .gx-xl-3 {
        grid-column-gap: 1rem;
    }
    .gx-xl-4 {
        grid-column-gap: 1.5rem;
    }
    .gx-xl-5 {
        grid-column-gap: 2rem;
    }
    .gx-xl-6 {
        grid-column-gap: 3rem;
    }
    .gy-xl-0 {
        grid-row-gap: 0;
    }
    .gy-xl-1 {
        grid-row-gap: 0.25rem;
    }
    .gy-xl-2 {
        grid-row-gap: 0.5rem;
    }
    .gy-xl-3 {
        grid-row-gap: 1rem;
    }
    .gy-xl-4 {
        grid-row-gap: 1.5rem;
    }
    .gy-xl-5 {
        grid-row-gap: 2rem;
    }
    .gy-xl-6 {
        grid-row-gap: 3rem;
    }
}

.gc-order-1 {
    grid-column-start: 1;
}
.gc-order-2 {
    grid-column-start: 2;
}
.gc-order-3 {
    grid-column-start: 3;
}
.gc-order-4 {
    grid-column-start: 4;
}
.gc-order-5 {
    grid-column-start: 5;
}
.gc-order-6 {
    grid-column-start: 6;
}
.gc-order-7 {
    grid-column-start: 7;
}
.gc-order-8 {
    grid-column-start: 8;
}
.gc-order-9 {
    grid-column-start: 9;
}
.gc-order-10 {
    grid-column-start: 10;
}
.gc-order-11 {
    grid-column-start: 11;
}
.gc-order-12 {
    grid-column-start: 12;
}

.gr-order-1 {
    grid-row-start: 1;
}
.gr-order-2 {
    grid-row-start: 2;
}
.gr-order-3 {
    grid-row-start: 3;
}
.gr-order-4 {
    grid-row-start: 4;
}
.gr-order-5 {
    grid-row-start: 5;
}
.gr-order-6 {
    grid-row-start: 6;
}
.gr-order-7 {
    grid-row-start: 7;
}
.gr-order-8 {
    grid-row-start: 8;
}
.gr-order-9 {
    grid-row-start: 9;
}
.gr-order-10 {
    grid-row-start: 10;
}
.gr-order-11 {
    grid-row-start: 11;
}
.gr-order-12 {
    grid-row-start: 12;
}

@media (min-width: 576px) {
    .gc-order-sm-1 {
        grid-column-start: 1;
    }
    .gc-order-sm-2 {
        grid-column-start: 2;
    }
    .gc-order-sm-3 {
        grid-column-start: 3;
    }
    .gc-order-sm-4 {
        grid-column-start: 4;
    }
    .gc-order-sm-5 {
        grid-column-start: 5;
    }
    .gc-order-sm-6 {
        grid-column-start: 6;
    }
    .gc-order-sm-7 {
        grid-column-start: 7;
    }
    .gc-order-sm-8 {
        grid-column-start: 8;
    }
    .gc-order-sm-9 {
        grid-column-start: 9;
    }
    .gc-order-sm-10 {
        grid-column-start: 10;
    }
    .gc-order-sm-11 {
        grid-column-start: 11;
    }
    .gc-order-sm-12 {
        grid-column-start: 12;
    }

    .gr-order-sm-1 {
        grid-row-start: 1;
    }
    .gr-order-sm-2 {
        grid-row-start: 2;
    }
    .gr-order-sm-3 {
        grid-row-start: 3;
    }
    .gr-order-sm-4 {
        grid-row-start: 4;
    }
    .gr-order-sm-5 {
        grid-row-start: 5;
    }
    .gr-order-sm-6 {
        grid-row-start: 6;
    }
    .gr-order-sm-7 {
        grid-row-start: 7;
    }
    .gr-order-sm-8 {
        grid-row-start: 8;
    }
    .gr-order-sm-9 {
        grid-row-start: 9;
    }
    .gr-order-sm-10 {
        grid-row-start: 10;
    }
    .gr-order-sm-11 {
        grid-row-start: 11;
    }
    .gr-order-sm-12 {
        grid-row-start: 12;
    }
}

@media (min-width: 768px) {
    .gc-order-md-1 {
        grid-column-start: 1;
    }
    .gc-order-md-2 {
        grid-column-start: 2;
    }
    .gc-order-md-3 {
        grid-column-start: 3;
    }
    .gc-order-md-4 {
        grid-column-start: 4;
    }
    .gc-order-md-5 {
        grid-column-start: 5;
    }
    .gc-order-md-6 {
        grid-column-start: 6;
    }
    .gc-order-md-7 {
        grid-column-start: 7;
    }
    .gc-order-md-8 {
        grid-column-start: 8;
    }
    .gc-order-md-9 {
        grid-column-start: 9;
    }
    .gc-order-md-10 {
        grid-column-start: 10;
    }
    .gc-order-md-11 {
        grid-column-start: 11;
    }
    .gc-order-md-12 {
        grid-column-start: 12;
    }

    .gr-order-md-1 {
        grid-row-start: 1;
    }
    .gr-order-md-2 {
        grid-row-start: 2;
    }
    .gr-order-md-3 {
        grid-row-start: 3;
    }
    .gr-order-md-4 {
        grid-row-start: 4;
    }
    .gr-order-md-5 {
        grid-row-start: 5;
    }
    .gr-order-md-6 {
        grid-row-start: 6;
    }
    .gr-order-md-7 {
        grid-row-start: 7;
    }
    .gr-order-md-8 {
        grid-row-start: 8;
    }
    .gr-order-md-9 {
        grid-row-start: 9;
    }
    .gr-order-md-10 {
        grid-row-start: 10;
    }
    .gr-order-md-11 {
        grid-row-start: 11;
    }
    .gr-order-md-12 {
        grid-row-start: 12;
    }
}

@media (min-width: 992px) {
    .gc-order-lg-1 {
        grid-column-start: 1;
    }
    .gc-order-lg-2 {
        grid-column-start: 2;
    }
    .gc-order-lg-3 {
        grid-column-start: 3;
    }
    .gc-order-lg-4 {
        grid-column-start: 4;
    }
    .gc-order-lg-5 {
        grid-column-start: 5;
    }
    .gc-order-lg-6 {
        grid-column-start: 6;
    }
    .gc-order-lg-7 {
        grid-column-start: 7;
    }
    .gc-order-lg-8 {
        grid-column-start: 8;
    }
    .gc-order-lg-9 {
        grid-column-start: 9;
    }
    .gc-order-lg-10 {
        grid-column-start: 10;
    }
    .gc-order-lg-11 {
        grid-column-start: 11;
    }
    .gc-order-lg-12 {
        grid-column-start: 12;
    }

    .gr-order-lg-1 {
        grid-row-start: 1;
    }
    .gr-order-lg-2 {
        grid-row-start: 2;
    }
    .gr-order-lg-3 {
        grid-row-start: 3;
    }
    .gr-order-lg-4 {
        grid-row-start: 4;
    }
    .gr-order-lg-5 {
        grid-row-start: 5;
    }
    .gr-order-lg-6 {
        grid-row-start: 6;
    }
    .gr-order-lg-7 {
        grid-row-start: 7;
    }
    .gr-order-lg-8 {
        grid-row-start: 8;
    }
    .gr-order-lg-9 {
        grid-row-start: 9;
    }
    .gr-order-lg-10 {
        grid-row-start: 10;
    }
    .gr-order-lg-11 {
        grid-row-start: 11;
    }
    .gr-order-lg-12 {
        grid-row-start: 12;
    }
}

@media (min-width: 1200px) {
    .gc-order-xl-1 {
        grid-column-start: 1;
    }
    .gc-order-xl-2 {
        grid-column-start: 2;
    }
    .gc-order-xl-3 {
        grid-column-start: 3;
    }
    .gc-order-xl-4 {
        grid-column-start: 4;
    }
    .gc-order-xl-5 {
        grid-column-start: 5;
    }
    .gc-order-xl-6 {
        grid-column-start: 6;
    }
    .gc-order-xl-7 {
        grid-column-start: 7;
    }
    .gc-order-xl-8 {
        grid-column-start: 8;
    }
    .gc-order-xl-9 {
        grid-column-start: 9;
    }
    .gc-order-xl-10 {
        grid-column-start: 10;
    }
    .gc-order-xl-11 {
        grid-column-start: 11;
    }
    .gc-order-xl-12 {
        grid-column-start: 12;
    }

    .gr-order-xl-1 {
        grid-row-start: 1;
    }
    .gr-order-xl-2 {
        grid-row-start: 2;
    }
    .gr-order-xl-3 {
        grid-row-start: 3;
    }
    .gr-order-xl-4 {
        grid-row-start: 4;
    }
    .gr-order-xl-5 {
        grid-row-start: 5;
    }
    .gr-order-xl-6 {
        grid-row-start: 6;
    }
    .gr-order-xl-7 {
        grid-row-start: 7;
    }
    .gr-order-xl-8 {
        grid-row-start: 8;
    }
    .gr-order-xl-9 {
        grid-row-start: 9;
    }
    .gr-order-xl-10 {
        grid-row-start: 10;
    }
    .gr-order-xl-11 {
        grid-row-start: 11;
    }
    .gr-order-xl-12 {
        grid-row-start: 12;
    }
}

.auto-col-auto {
    grid-auto-columns: auto;
}
.auto-row-auto {
    grid-auto-rows: auto;
}
.auto-col-1 {
    grid-auto-columns: 1fr;
}
.auto-row-1 {
    grid-auto-rows: 1fr;
}
@media (min-width: 576px) {
    .auto-col-sm-auto {
        grid-auto-columns: auto;
    }
    .auto-row-sm-auto {
        grid-auto-rows: auto;
    }
    .auto-col-sm-1 {
        grid-auto-columns: 1fr;
    }
    .auto-row-sm-1 {
        grid-auto-rows: 1fr;
    }
}
@media (min-width: 768px) {
    .auto-col-md-auto {
        grid-auto-columns: auto;
    }
    .auto-row-md-auto {
        grid-auto-rows: auto;
    }
    .auto-col-md-1 {
        grid-auto-columns: 1fr;
    }
    .auto-row-md-1 {
        grid-auto-rows: 1fr;
    }
}
@media (min-width: 992px) {
    .auto-col-lg-auto {
        grid-auto-columns: auto;
    }
    .auto-row-lg-auto {
        grid-auto-rows: auto;
    }
    .auto-col-lg-1 {
        grid-auto-columns: 1fr;
    }
    .auto-row-lg-1 {
        grid-auto-rows: 1fr;
    }
}
@media (min-width: 1200px) {
    .auto-col-xl-auto {
        grid-auto-columns: auto;
    }
    .auto-row-xl-auto {
        grid-auto-rows: auto;
    }
    .auto-col-xl-1 {
        grid-auto-columns: 1fr;
    }
    .auto-row-xl-1 {
        grid-auto-rows: 1fr;
    }
}
